<h3>Products</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Reviews</th>
    <th>Description</th>
    <th>Image</th>
    <th>Detail</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= number_to_currency(product.price / 100.0) %></td>
    <td><a href='/reviews/<%= product.id %>'>Reviews</a></td>
    <td><%= product.description %></td>
    <td><img src="<%= product.image_url %>" alt="Image for <%= product.name%>" ></td>
    <td><a href='/products/?=:product_id=<%= product.id %>'>Detail</a></td>
  </tr>
<% end %>
</table>



