<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@product.price / 100) %>
</p>

<p>

</p>
<form action="/reviews/new" method="get">
  <input type="hidden" value="<%= @product.id %>" name="product_id">
    <button type="submit">Write a review for <%= @product.name %></button>
</form>

<a href="/products">Back</a>
