<p id="notice"><%= notice %></p>

<% if @reviews.size == 0 %>
  <p>
    No reviews for <%= @product.name %>.
  </p>

<% else %> 
<h2>Reviews for <%= @product.name %></h2>
  <table>
    <tr>
      <th>Rating</th>
      <th>Body</th>
    </tr>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <%= review.rating %>
        </td>
        <td>
          <%= review.body %>
        </td>
      </tr>
    <% end %> 
  </table>
 <% end %> 

<%= link_to 'Back', reviews_path %>
