<p id="notice"><%= notice %></p>

<% if @reviews.size == 1 %>
  <p>
    <b>Body:</b>
    <%= @review.body %>
  </p>

  <p>
    <b>Rating:</b>
    <%= @review.rating %>
  </p>

  <p>
    <b>Product:</b>
    <%= @product.name %>
  </p>

<% else %> 
<h2>Reviews for <%= @product.name %></h2>
  <table>
    <tr>
      <th>Rating</th>
      <th>Body</th>
    </tr>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <%= review.rating %>
        </td>
        <td>
          <%= review.body %>
        </td>
      </tr>
    <% end %> 
  </table>
 <% end %> 

<%= link_to 'Back', reviews_path %>
